@using System.Reflection
<Router AppAssembly="@typeof(MauiProgram).Assembly" AdditionalAssemblies="GetAdditionalAssemblies()">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(System.Pages.Pages.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Router>

@code {
    [Inject] NavigationManager Navigation { get; set; }

    private Assembly[] GetAdditionalAssemblies()
    {
        // Carregar o assembly das páginas Razor do projeto secundário
        var externalProjectAssembly = Assembly.Load("System.Pages");

        // Retornar o assembly carregado
        return new Assembly[] { externalProjectAssembly };
    }
}
