@page "/Auth/Login"
@inject AuthBusinessRules AuthBusinessRules
@inject NavigationManager Navigation

<div class="login-container">
    <h3>Login</h3>
    <EditForm Model="@Model" OnSubmit="HandleLogin" FormName="LoginForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="username">Username</label>
            <InputText class="form-control" @bind-Value="@Model.Login" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText type="password" class="form-control" @bind-Value="@Model.Password" />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>

</div>

@code {
    [SupplyParameterFromForm]
    public Account Model { get; set; } = new Account();

    private async Task HandleLogin()
    {
        await AuthBusinessRules.Login(Model);
        Navigation.NavigateTo("Home/Index");
    }
}
