@inject AuthBusinessRules AuthBusinessRules
@inject NavigationManager Navigation

<EditForm Model="@Model" OnSubmit="HandleLoggout" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
  <button type="submit">LoggoutButton</button>
</EditForm>

@code
{
    public Account Model { get; set; } = new Account();

    public async Task HandleLoggout()
    {
        await AuthBusinessRules.Logout();
        Navigation.NavigateTo("Auth/Login");
    }
}
